= provide(:title, "Editar curso")
= render 'form', course: @course
= link_to 'Mostrar', cycle_course_path(@course), class: 'accion'
|
= link_to 'Regresar', cycle_course_path(@course), class: 'accion'
